@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue.otf);
}

*{
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-size: 16px;
	color: #2b2e33;
	text-align: center;

}

header{
	padding: 20px;
	border: 1px black solid;
	font-family: "Bebas Neue", sans-serif; 
	font-size: 28px;
	font-weight: normal;
	color: #14223c;
	background: #FFED74;
	text-align: center
}
h1{
	letter-spacing: 2px;
	padding: 2px 0px 0px 0px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

nav a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #14223c;
	text-decoration: none;
	text-align: center;
	margin: 1em;
	color: #2b2e33;

}

main{
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.heroimage{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.about{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	line-height: 2em;
	letter-spacing: 0.1em;
	
}
.resume{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h2{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 24px;
	font-weight: normal;
	padding: 10px;
	color: #2b2e33;
	text-align: center;
	letter-spacing: 0.1em;
}

h3{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	color: #2b2e33;
	text-align: center;
	letter-spacing: 0.1em;
}


p{
	margin: 0em 20em 0em 20em;
}

h4{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 16px;
	font-weight: normal;
	color: #2b2e33;
	text-align: center;
	letter-spacing: 0.1em;
}

.contact{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	
}

footer{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	align-items: center;
	background: ;
	color: #2b2e33;
}

a{
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: inherit;
	text-decoration: none;

}

.rows {
	width: 100%;
}