*{
	padding: 0;
	margin: 0;
}

body {
	background: rgb(200, 179, 159);

}

header{
	padding: 20px;
	font-family: "Bebas Neue", sans-serif; 
	font-size: 28px;
	font-weight: normal;
	font-kerning: 10px;
	color: #14223c;
	background: rgb(200, 179, 159);
	text-align: center;
}

nav{
	font-family: "Avenir", sans-serif;
	font-size: 20px;
	color: #14223c;
	text-align: center;
}

main{

}

section{
	background: #7e5772;

}


p{
	font-family: "Open Sans", sans-serif; 
	font-size: 12px;
	text-align: center;

}

h3{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 24px;
	font-weight: normal;
	padding: 10px;
	color: #14223c;
	text-align: center;


}

h4{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	color: #14223c;
	text-align: center;


}

h5{
	font-family: "Bebas Neue", sans-serif; 
	font-size: 14px;
	font-weight: normal;
	color: #14223c;
	text-align: center;


}


a{
	align-items: center;
	font-family: "Bebas Neue", sans-serif; 
	font-size: 20px;
	font-weight: normal;
	color: #14223c;
	text-decoration: none;

}

footer{
	align-items: center;
}

ul{
	text-align: center;
	list-style-type: none;
	font-family: "Open Sans", sans-serif; 
	font-size: 12px;
	text-align: center;
	

}

img{
	width: 100%;
}